// color
$white: #ffffff;

$black-1: #222;
$black-2: #000000;

$red-1: #ff4a52;
$red-2: #cc181e;
$red-3: #bd081c;

$gray-1: #d2d2d2;
$gray-2: #dce0e0;
$gray-3: #cccccc;
$gray-4: #8d9199;

$brown: #555555;

$blue-1: #405de6;
$blue-2: #2d5f9a;

$cyan-1: #00c3f3;
$cyan-2: #1ec6b6;

// typography
$heading-1: 36px;
$heading-2: 24px;
$heading-3: 20px;
$heading-4: 18px;
$heading-5: 16px;
$heading-6: 15px;

$body-1: 15px;
$body-2: 13px;
$body-3: 12px;
$body-4: 10px;
