@import "../../styles/variables.scss";
@import "../../styles/mixin.scss";

.container {
	.image-container {
		line-height: 1.7;
		text-align: center;
		padding-top: 0.7em;
		padding-bottom: 1.3em;
	}

	.title {
		font-size: $heading-3;
		font-weight: 700;
		line-height: 1.4em;
		text-align: center;
	}

	.description {
		padding-top: 0.7em;
		padding-bottom: 1.3em;
		text-align: center;
		line-height: 1.7;
		font-size: $body-1;
		color: $black-1;
		font-weight: 400;
	}
}
